<div class="module">
    <section>
      <div class="title-tabs">
            <h2 style="position: absolute; top: -46px;">Popular Destinations</h2>
        
         <div class="tabs-page">
         
            <mat-tab-group>
                <mat-tab label="Beach"> 
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <div class="img_container">
                                <img src="assets/image/img1.jpg" class="card-img-top" alt="img" />
                            </div>
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title text-dark font-weight-bold">Cairo Pyramid</h5> 
                                    <img src="assets/image/star.png">
                                    <span>4.5</span>
                                </div>
                                <div class="description text-secondary">
                                    <img src="assets/image/location.png">Egypt
                                    <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                        <mat-icon>navigate_next</mat-icon>
                                    </button> 
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img12.jpg" class="card-img-top"
                                alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Marly Beach</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">India
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img10.jpg" class="card-img-top" alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Camps Bay</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">Hawaii
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img6.jpg" class="card-img-top" alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Snowblood</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">Argentina
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </mat-tab>
                <mat-tab label="Desert">  
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <div class="img_container">
                                <img src="assets/image/img1.jpg" class="card-img-top" alt="img" />
                            </div>
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title text-dark font-weight-bold">Cairo Pyramid</h5> 
                                    <img src="assets/image/star.png">
                                    <span>4.5</span>
                                </div>
                                <div class="description text-secondary">
                                    <img src="assets/image/location.png">Egypt
                                    <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                        <mat-icon>navigate_next</mat-icon>
                                    </button> 
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img12.jpg" class="card-img-top"
                                alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Marly Beach</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">India
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img10.jpg" class="card-img-top" alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Camps Bay</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">Hawaii
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img6.jpg" class="card-img-top" alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Snowblood</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">Argentina
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </mat-tab>
                <mat-tab label="Mountain"> 
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <div class="img_container">
                                <img src="assets/image/img1.jpg" class="card-img-top" alt="img" />
                            </div>
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title text-dark font-weight-bold">Cairo Pyramid</h5> 
                                    <img src="assets/image/star.png">
                                    <span>4.5</span>
                                </div>
                                <div class="description text-secondary">
                                    <img src="assets/image/location.png">Egypt
                                    <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                        <mat-icon>navigate_next</mat-icon>
                                    </button> 
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img12.jpg" class="card-img-top"
                                alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Marly Beach</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">India
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img10.jpg" class="card-img-top" alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Camps Bay</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">Hawaii
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img6.jpg" class="card-img-top" alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Snowblood</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">Argentina
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </mat-tab>
                <mat-tab label="Snow"> 
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <div class="img_container">
                                <img src="assets/image/img1.jpg" class="card-img-top" alt="img" />
                            </div>
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title text-dark font-weight-bold">Cairo Pyramid</h5> 
                                    <img src="assets/image/star.png">
                                    <span>4.5</span>
                                </div>
                                <div class="description text-secondary">
                                    <img src="assets/image/location.png">Egypt
                                    <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                        <mat-icon>navigate_next</mat-icon>
                                    </button> 
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img12.jpg" class="card-img-top"
                                alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Marly Beach</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">India
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img10.jpg" class="card-img-top" alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Camps Bay</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">Hawaii
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img6.jpg" class="card-img-top" alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Snowblood</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">Argentina
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </mat-tab>
                <mat-tab label="culture"> 
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <div class="img_container">
                                <img src="assets/image/img1.jpg" class="card-img-top" alt="img" />
                            </div>
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title text-dark font-weight-bold">Cairo Pyramid</h5> 
                                    <img src="assets/image/star.png">
                                    <span>4.5</span>
                                </div>
                                <div class="description text-secondary">
                                    <img src="assets/image/location.png">Egypt
                                    <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                        <mat-icon>navigate_next</mat-icon>
                                    </button> 
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img12.jpg" class="card-img-top"
                                alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Marly Beach</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">India
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img10.jpg" class="card-img-top" alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Camps Bay</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">Hawaii
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <div class="img_container">
                                  <img src="assets/image/img6.jpg" class="card-img-top" alt="img" />
                              </div>
                              <div class="card-body">
                                  <div>
                                      <h5 class="card-title text-dark font-weight-bold">Snowblood</h5> 
                                      <img src="assets/image/star.png">
                                      <span>4.5</span>
                                  </div>
                                <div class="description text-secondary">
                                  <img src="assets/image/location.png">Argentina
                                  <button class="arrow" mat-mini-fab color="warn" aria-label="Explore">
                                      <mat-icon>navigate_next</mat-icon>
                                  </button> 
                              </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
      </div>
    </div>
  
       
    </section>
  </div>

  
