<section data-bs-version="5.1" class="header2 supplym5 cid-tpSYzF1kmL mbr-fullscreen" id="header2-7">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="title-wrapper">
                    <h6>Welcome to</h6>
                    <h1 class="mbr-section-title mbr-fonts-style display-1">
                        Wanderlust Travels
                    </h1>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis tempore aspernatur quod laboriosam debitis veniam consequuntur totam qui ad dolore quis consequatur soluta ea eaque impedit beatae, nobis sapiente minus? 
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mobis sapiente minus? 
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis tempore aspernatur quod laboriosam debitis veniam consequuntur totam qui ad dolore quis consequatur soluta ea eaque impedit beatae, nobis sapiente minus? 
                    </p>
                    
                    <div>
                        <!-- Animated button -->
                        <button class="btn animated-btn text-white" href="#">Explore</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img class="image_1" src="assets/image/img1.jpg" alt="">
                    <img class="image_2" src="assets/image/img2.jpg" alt="">
                    <img class="image_3" src="assets/image/img3.jpg" alt="">
                    <img class="image_4" src="assets/image/img4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>