

    <header>
      <a style="text-shadow: 0 0 3px #d7d7d7;
      font-size: 22px;
  " href="" class="logo">Wander<span style="color: rgb(52, 100, 204);text-shadow: 0 0 3px #92949f;">lust</span></a>
        <nav>
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Gallery</a>
            <a href="">Contacts</a>
        </nav>
    </header>

    <!-- carousel -->
    <div class="carousel">
        <!-- list item -->
        <div class="list">
          <ng-container *ngFor="let e of [].constructor(12); let i = index"> 
              <div class="item">
                  <img src="assets/image/img{{i+1}}.jpg">
                  <div class="content">
                      <!-- <div class="author">Wanderlust</div> -->
                      <div class="title">VACATION TRIP</div>
                      <div class="topic">EGYPT</div>
                      <div class="des">
                        Traveling broadens horizons, fostering cultural understanding and empathy. It offers personal growth through new experiences and challenges. Exploration of diverse landscapes and cultures provides inspiration and rejuvenation. Traveling broadens horizons, fostering cultural understanding and empathy. It offers personal growth through new experiences and challenges.
                      </div>
                      <div class="buttons">
                          <button>Book Now!</button>
                          <button>See More</button>
                      </div>
                  </div>
              </div>
            </ng-container>
           
        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
          <ng-container *ngFor="let e of [].constructor(12); let i = index"> 
              <div class="item">
                <img *ngIf="i!==0" src="assets/image/img{{i}}.jpg">
                <img *ngIf="i==0" src="assets/image/img{{12}}.jpg">
                  <div class="content">
                      <div class="title" style="font-size: 20px;">
                          Cairo
                      </div>
                      <div class="description" style="font-size: 12px;display: inline-flex;align-items: center;">
                          <img style="width: 10px; margin-right: 4px;" src="assets/image/location.png">Egypt

                      </div>
                  </div>
              </div>
            </ng-container>
            
        </div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <!-- <div class="time"></div> -->
    </div>


    <section class="logo_section">
        <div class="logo_container">
            <div>
                <img src="assets/image/logo2.png">
            </div>
            <div>
                <img src="assets/image/logo5.png">
            </div>
            <div>
                <img src="assets/image/logo3.png">
            </div>
            <div>
                <img src="assets/image/logo4.png">
            </div>
            <div>
                <img src="assets/image/logo1.png">
            </div>
        </div>
    </section>
   

    <app-tab-cards></app-tab-cards>


    <app-info></app-info>
